<!DOCTYPE html>

<html lang="en">

<head>
	<title>Bob's Burgers</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body style="background-color: #f4e01f;">
	<div class="container">
		<h1 style="text-align: center; color: #e92632;">Welcome to Bob's Burgers!</h1>
		<img src="/assets/img/bobs-burgers.png" style="margin: auto; width: 130px; display: block;" />
		
		{{{ body }}}

		<form action="/" method="POST">
			<textarea type="text" name="burger_name"></textarea>

			<button type="submit">Submit</button>
		</form>
	</div>
</body>

</html>